@import "reset.css";

html {
  scroll-behavior: smooth;
}

body {
  font-family: Poppins, sans-serif;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 25px;
}

.icon {
  width: 50px; 
}

/* Navbar */
nav {
  position: fixed;
  background-color: #3a3639;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  z-index: 999;
}

.nav-items {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  right: 20px;
}

.nav-item {
  width: 100%;
  margin-right: 50px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.underline-content {
  position: relative;
}

.underline-content .nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.underline {
  position: absolute;
  width: 0%;
  height: 6px;
  bottom: 0;
  background-color: white;
  transition: width 0.3s;
  border-radius: 2px;
}

.underline-content:hover .underline {
  margin: 0 10% 0 10%;
  width: 80%;
}


.logo {
  display: flex;
  width: 60px;
  margin-left: 10px;
}

.logo:hover {
  transition: opacity 0.2s;
  opacity: 0.6;
}

/* Falcon */

.falcon-section {
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/imgs/bg.jpg');
  top: 24px;
}

.banner {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}


.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.row > img {
  box-sizing: border-box;
  width: calc(100% / 3);
  height: calc(100% / 3);
}

footer {
  display: flex;
  flex-direction: column;
  line-height: 40px;
}

footer > div > a {
  padding: 0px 50px;
  text-decoration: none;
}
