@import "reset.css";

html {
  scroll-behavior: smooth;
}

body {
  font-family: Poppins, sans-serif;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

.icon {
  width: 50px; 
}

/* Navbar */

nav {
  position: fixed;
  background-color: #3a3639;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  z-index: 999;
}

.logo {
  display: flex;
  width: 60px;
  margin-left: 10px;
}

.logo:hover {
  transition: opacity 0.2s;
  opacity: 0.6;
}

.nav-items {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  right: 20px;
}

.nav-item {
  width: 100%;
  margin-right: 50px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.underline-content {
  position: relative;
}

.underline-content > .nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.underline {
  position: absolute;
  width: 0%;
  height: 6px;
  bottom: 0;
  background-color: white;
  transition: width 0.3s;
  border-radius: 2px;
}

.underline-content:hover > .underline {
  margin: 0 10% 0;
  width: 80%;
}

.nav-dropdown {
  color: #fff;
  position: relative;
  display: inline-block;
}

.nav-dropdown:hover > .dropdown-menu {
  display: block;
  position: absolute;
  background-color: darkgrey;
  top: 100%;
  right: 5%;
}

.dropdown-menu {
  display: none;
}

.items {
  margin: 0;
  padding: 0;
}

.items > li {
  padding: 20px;
  text-decoration: none;
}

.items > li:hover {
  background-color: lightgrey;
}

/* NOTE: cannot remove underline, and dropdown does not stay most of the time */



/* Main */

.bg {
  display: flex;
  object-fit: cover;
  /* align-items: center;
  justify-content: center; */
  width: 100vw;
  height: calc(100vh - 50px);
  padding-top: 50px;
}

.falcon-container {
  border: 5px solid white;
  display: flex;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  height: 45vh;
  width: 45vw;
  transform: translate(-50%, -50%);
}

.falcon-left {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.falcon-right {
  background-color: rgba(100, 100, 100, 0.4);
}

.falcon-right > h2,
.lorem-text {
  margin: 0 auto;
  width: 90%;
}

.falcon-right h2 {
  margin-top: 5%;
  margin-bottom: 5%;
  padding-bottom: 2%;
  border-bottom: 2px dotted white;
}

.lorem-text {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.lorem-left {
  margin-right: 15px;
}


/* Features */

.section-features {
  background: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-height: 60vh;
  margin: 0 40px;
}

.feature {
  display: grid;
  grid-template-rows: 30px 30px 120px;
  grid-row-gap: 30px;
  text-align: center;
  width: 390px;
  box-shadow: 2px 2px 10px darkgray;
  padding: 15px 15px;
  border-radius: 10px;
}

.feature > .icon {
  margin: 0 auto;
}

.section-features > .feature > p {
  color: gray;
  font-size: 17px;
  line-height: 24px;
}

.feature-button {
  padding: 0;
  margin: 0;
  font-size: inherit;
  background-color: #3a3639;
  color: white;
  height: 50px;
  border-radius: 5px;
  width: 100%;
  border: none;
  outline: none;
}

.feature-button:focus {
  border: 3px solid rgb(0, 100, 255);
  border-radius: 5px;
}

/* How to get space between border and button? */


/* Advantages */



/* Gallery */

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.row > img {
  box-sizing: border-box;
  width: calc(100% / 3);
  height: calc(100% / 3);
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  line-height: 40px;
}

footer > div > a {
  padding: 0px 50px;
  text-decoration: none;
}
